/* Tailwind 기본 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글꼴 선언 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: Pretendard-Regular, Paperlogy-8ExtraBold, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* 전체 레이아웃 설정 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  line-height: 1.5;
  min-width: 20rem;
  min-height: 100vh;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.05);

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/*footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    padding: 1rem 0;*/
/*}*/

.container {
  /* width: 100%; */
  max-width: 1200px;
  min-width: 35vw;
  padding: 0 1rem;
  min-height: 100vh;

  padding-bottom: 3rem;

  background-color: #ffffff;
}

/*a {*/
/*    font-weight: 500;*/
/*    color: #646cff;*/
/*    text-decoration: inherit;*/
/*}*/

/*a:hover {*/
/*    color: #535bf2;*/
/*}*/

/*h1 {*/
/*    font-size: 3.2em;*/
/*    line-height: 1.1;*/
/*}*/

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#cd904a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

